<% layout("/layouts/boilerplate") %>
<body>
    <h3>Listing Detail : </h3>
        <ul>
            <li><%= data.title %></li>
            <li><%=data.description %></li>
            <li> &#8377; <%=data.price.toLocaleString("en-IN") %></li> <!--NO. KO STRING M CHANGE KRTA HAI COMMAS DALTA ACC. TO STAND.-->
            <li><%=data.location %></li>
            <li><%=data.country %></li>
        </ul>
        <a href="/listings/<%= data._id %>/edit">Edit Listing</a>
        <br><br>
        <form method="POST" action="/listings/<%=data._id%>?_method=DELETE"><!--method inside action only-->
            <button>Delele this Listing</button>
        </form>
</body>
